@model IdentityServerManager.UI.Models.ApiResourceViewModel

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="form-group">
    <div class="checkbox">
        <label>
            <input asp-for="Enabled" /> @Html.DisplayNameFor(model => model.Enabled)
        </label>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control border-input" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label asp-for="DisplayName" class="control-label"></label>
            <input asp-for="DisplayName" class="form-control border-input" />
            <span asp-validation-for="DisplayName" class="text-danger"></span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label asp-for="Description" class="control-label"></label>
            <textarea asp-for="Description" class="form-control border-input"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
    </div>
</div>
<hr />
<div class="form-group pull-right">
    <input type="submit" value="Save" class="btn btn-success" />
    <a asp-action="Index" class="btn btn-danger">Cancel</a>
</div>