@model IdentityServerManager.UI.Models.ApiResourceViewModel

@{
    ViewData["Title"] = "Create Api Resources";
}
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">

            @Html.Partial("_formFields", Model)
            
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
