@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h2>WebApp</h2>
        <ul>
            <li>Sample ASP.NET Core MVC using IdentityServer</li>
        </ul>
    </div>
</div>
