<div class="starter-template">
    <h1>Welcome @User.Identity.Name</h1>
    <p class="lead">Here are your claims</p>
    <ul>
        @foreach (var claim in User.Claims)
        {
            <li>
                <em>@claim.Type</em>: @claim.Value
            </li>
        }
    </ul>
</div>